# No whitespace after the comma or in your part name!
config SHIELD_P2DI_LEFT
    def_bool $(shields_list_contains,p2di_left)

# No whitespace after the comma or in your part name!
config SHIELD_P2DI_RIGHT
    def_bool $(shields_list_contains,p2di_right)