if SHIELD_P2DI_RIGHT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "P2DI"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_P2DI_LEFT || SHIELD_P2DI_RIGHT

config ZMK_SPLIT
    default y

endif